album {
    display: block;
    border: thin solid black;
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    box-shadow: 0.5em 0.5em 0.5em gray;
    padding: 0.5em;
    width: fit-content;
    width: -moz-fit-content;
}

artist, album > title, year{
    font-size: x-large;
    margin-bottom: 0.5em;
    display: inline-block;
}

year::before{
    content: "(";
}

year::after{
    content: ")";
}

artist::after{
    content: " \2013";
}

tracks {
    display: table;
    width: 100%;
    counter-reset: track-number;
}

track{
    display: table-row;
}

length, track > title{
    display: table-cell;
    padding: 0.5em;
}

length{
    text-align: right;
}

track > title::before{
    content: counter(track-number) ".";
    counter-increment: track-counter;
    width: 2em;
    text-align: right;
    margin-right: 0.5em;
    display: inline-block;
}

track:nth-child(odd){
    background-color: whitesmoke;
}

track:hover{
    background-color: gold;
    font-weight: bold;
}












