planets {
    display: table;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

planet{
    display: table-row;
}

name{
    display: none;
}

name:lang(en), ioAbbrev, symbol{
    display: table-cell;
    padding: 0.5em;
    border: thin solid gray;
}